<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>110302996334-sa5to5bk2vd4psf2a2p4m84is92viio3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.110302996334-sa5to5bk2vd4psf2a2p4m84is92viio3</string>
	<key>API_KEY</key>
	<string>AIzaSyBM49T5mGX4SY4ioLCeAYn1XS0u9aN3yrs</string>
	<key>GCM_SENDER_ID</key>
	<string>110302996334</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.ModarebAraby</string>
	<key>PROJECT_ID</key>
	<string>finalmodarebaraby</string>
	<key>STORAGE_BUCKET</key>
	<string>finalmodarebaraby.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:110302996334:ios:5c439dc4d1348bc8</string>
	<key>DATABASE_URL</key>
	<string>https://finalmodarebaraby.firebaseio.com</string>
</dict>
</plist>